apiVersion: v1
kind: Namespace
metadata:
  name: platform-components
---
apiVersion: v1
kind: Namespace
metadata:
  name: argocd
---
apiVersion: v1
kind: Namespace
metadata:
  name: backstage
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-components
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/leketech/internal-developer-platform.git
    targetRevision: HEAD
    path: platform-components
  destination:
    server: https://kubernetes.default.svc
    namespace: platform-components
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m