apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- hpa.yaml

images:
- name: sample-service
  newName: leketech/sample-service
  newTag: latest